#RewriteEngine On
#RewriteBase /apps/formBuild/

#AddEncoding gzip .gz
#RewriteCond %{HTTP_USER_AGENT} !Safari
#RewriteCond %{HTTP:Accept-encoding} gzip
#RewriteCond %{REQUEST_FILENAME} ^.*\.(css|js)$
#RewriteCond %{REQUEST_FILENAME}.gz -f
#RewriteRule ^(.*)$ $1.gz [QSA]